<h1>Hi <%=@user%></h1>


<h2><%= link_to "Secret Page", secret_path%></h2>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
